NEXT_PUBLIC_APP_NAME=ARQUITEKTA
GITHUB_TOKEN=
ORCHESTRUM_ENDPOINT=
MVA_DESIGN_REPO=https://github.com/martinveron2/MVA-PROJECT-DESIGN
MVA_TEMPLATE_REPO=https://github.com/martinveron2/MVA-PROJECT-TEMPLATE
